[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
flask = "*"
grpcio = "*"
tensorflow-protobuf = "==2.7.0"
gunicorn = "*"

[requires]
python_version = "3.9"
